* { 
    margin: 0;
    padding: 0;
}

html,body {
    color: #333;
}

body {
    font:12px/1.4 helvetica,arial,freesans,clean,sans-serif;
}

#site {
  width: 950px;
  margin: 0 auto;
  position: relative;
}

#header {
    margin: 20px auto;
    min-width: 950px;
    width: 958px;
}

#c {
 
  border: 1px solid black;
}

#block_types {
  margin: 0 0 15px;
}

#block_types button {
  padding: 10px;
  margin-right: 15px;
  border: 2px solid #ccc;
  background: transparent;
  border-radius: 5px;
  color: #888;
}

#block_types button.current {
  border-color: #aaf;
  box-shadow: 0 1px 5px rgba(180, 180, 200, 1);
  color: #333;
}
