* { 
    margin: 0;
    padding: 0;
}

html,body {
    color: #333;
}

body {
    font:12px/1.4 helvetica,arial,freesans,clean,sans-serif;
}

#site {
  width: 820px;
  margin: 20px auto 0 auto;
  position: relative;
  clear: both;
}

#header {
    margin: 20px auto;
    width: 820px;
}

#header h1 {
  float: left;
  margin-bottom: 20px;
}

#header #load-example {
  float: right;
  margin: 5px 15px 0;
}

#canvas-wrapper {
  clear: both;
  position: relative;
}

#c {
  border: 1px solid #a8a8a8;
  border-radius: 2px;
}

#block-types {
  float: left;
  margin: 0 0 15px;
}

#colors {
  clear: left;
  float: left;
  margin: 0 0 15px;
}


#layers {
  float: right;
}

#layers-visible {
  float: right;
}

.buttons {
  position: relative;
}

.buttons span {
  position: absolute;
  top: 45px;
}

.buttons button {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-right: 15px;
  border: 2px solid #ccc;
  background: transparent;
  border-radius: 5px;
  color: #888;
}

.buttons button.checked {
  background: #ffe;
}

#layers-visible button:before {
    content: "✕";
}

#layers-visible button.checked:before {
    content: "✓";
}

.buttons button.current {
  border-color: #aaf;
  box-shadow: 0 1px 5px rgba(180, 180, 200, 1);
  color: #333;
}

#log {
  border: 1px solid #eee;
  border-radius: 2px;
  color: #666;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 11px;
  width: 800px;
  height: 100px;
  
}